html, body {
    background-color: #323232 !important;
}

#splash-screen {
    background-color: #323232;
    position: fixed;
    height: 100%;
    /*text should be center aligned*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

#splash-screen h1 {
    /*Font should have a shadow effect*/
    text-shadow: 3px 5px 0 #000;
    font-size: 7em;
    font-weight: bold;
}

#splash-screen h2 {
    text-shadow: 3px 5px 0 #000;
    font-size: 5em;
    font-weight: bold;
}

/* THIS IS THE IN GAME MENU*/
#in-game-menu {
    background-color: #323232;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

#in-game-menu .dropdown-menu {
    background-color: #323232;
    border: 1px solid #C0C0C0;
}

#in-game-menu .dropdown-item {
    color: #fff;
    padding: 10px 15px;
    font-weight: bold;
}

#in-game-menu .dropdown-toggle:hover {
    background-color: #C0C0C0;
    color: #fff;
}

#in-game-menu .btn.dropdown-toggle.show {
    background-color: #323232;
}

#in-game-menu .dropdown-item:hover {
    background-color: #C0C0C0;
    color: #fff;
}

#inventory-menu {
    border : 3px solid #C0C0C0;
    z-index: 900;
}

.row {
    background-color: #323232;
}

.row h2 {
    color: #fff;
    font-weight: bold;
}

.card.col-sm-12.col-md-2.col-lg-3 {
    background-color: transparent;
    border : 1px solid #C0C0C0;
}