body, html {
  display: flex;
  min-height: 100vh;
  color: var(--main-text-color);
  pointer-events: auto;
  margin: 0;
  overflow: hidden;
}

/* This helps to ensure consistent sizing across all elements */
* {
  box-sizing: border-box;
}

/* This is the font-family for many elements*/
body, html, p, .containerText, .mainScreenContainer, .mainScreenTitle {
  font-family: "Droid Serif";
}

/* This is the font size for many selectors */
p, .containerText, .mainScreenContainer {
  font-size: 20px;
}

/* This is the font weight for many elements */
h1, h2, h3, h4, h5, h6, .mainScreenContainer, .mainScreenTitle, #fishCounter, #clayCounter, #mudCounter, #shrimpCounter, #stoneCounter {
  font-weight: bold;
}

/* This is bold text for many elements */
#playerInventoryMenuButton, #locationMenuButton, #bestiaryBookMenuButton, #actionsMenuButton, #insightsMenuButton, #bestiaryCreatureTypeButton {
  font-weight: bold;
}

/* This controls what the floating fish images look like */
.fishImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  opacity: 1;
  z-index: 50;
  animation: fishFloatUp 3s linear infinite;
}

@keyframes fishFloatUp {
  0% {
    top: 150;
    opacity: 1;
  }
  100% {
    top: -200px; /* Adjust the value to make the image float up further */
    opacity: 0;
  }
}

/* Create an animation for gaining energy. Animation floats up. */
@keyframes energyFloatUp {
  0% {
    top: 150;
    opacity: 1;
  }
  100% {
    top: -200px; /* Adjust the value to make the image float up further */
    opacity: 0;
  }
}

/* for smaller screens (eg: phones) */
@media (max-width: 800px) { 
  .item {
    flex: 100%;
  }
}

:root {
  --main-bg-color: #323232; /* Used for: Menus, buttons, and container background color. */
  --main-border-color: #C0C0C0; /* Used for: Primary border color. */
  --main-text-color: #9c69c3; /* Used for: Primary text color. */
  --secondary-border-color: #A0522D; /* Used for: Secondary border color. */
  --hover-bg-color: #323232; /* Used for: Primary hovor color. */
}

/*h1, h2, p Text Color*/
h1, h2, p, #energyIndicatorText, #showEnergy {
  color: var(--main-text-color);
 }

/*Button BG Color*/
#playerInventoryMenuButton, #locationMenuButton, #bestiaryBookMenuButton, #actionsMenuButton, #insightsMenuButton, #spawningPoolLocationButton, #swampTrailLocationButton, #bestiaryCreatureTypeButton {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

/* Border Color for images */
.inventoryImage, .action, .bestiaryImage {
  border: 1px solid var(--main-border-color);
}

/* Container BG Color and Border Color*/
#containerForInventory, #containerForLocationMenu, #bestiaryContainer, #leftPageContainer, #rightPageContainer, .achievementImageContainer, #containerForActionsMenu, #containerForInsightsMenu, #saltwaterAreaFishClickerButton, .mainScreenTitle, #containerForSpawningPool {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
}

/*Button Opacity*/
#saltwaterAreaFishClickerButton:hover, #buySearchActionButton:hover, #feedActionButton:hover, #playerInventoryMenuButton:hover, #locationMenuButton:hover, #bestiaryBookMenuButton:hover, #actionsMenuButton:hover, #insightsMenuButton:hover, #spawningPoolLocationButton:hover, #swampTrailLocationButton:hover, #bestiaryCreatureTypeButton:hover {
  opacity: 0.7;
}

/*Inventory Item BG Color*/
.fishBGC { background-color: #309aba; }
.clayBGC { background-color: #fbb84c; }
.mudBGC { background-color: #a23b08; }
.shrimpBGC { background-color: #ec7445; }
.stoneBGC { background-color: #585756; }

/* Z-index information: 
z-index: 0 - This is the lowest z-index. It is used for background images.
z-index: 1 - used for the main game screen.
z-index: 20 - used for inventory containers, bestiary containers, and actions menu containers.
z-index: 30 - used for buttons, energy indicator.
z-index: 50 - used for floating fish image.
z-index: 51 - used for resource cache image and message.
z-index: 100 - used for the initial black loading screen that appears when the game is first loaded.
z-index: 101 - used for the unknown entity image and clickToStart.
z-index: 102 - used for the unknown entity dialog box.
*/

/* containers that currently don't have a home or don't need a home */
#containerForNumber {
  z-index: 50;
}

.number {
  font-size: 20px;
  font-weight: bold;
  color: #9c69c3;
  font-size: 20px;
  z-index: 50;
}

.floatingNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: #9c69c3;
  z-index: 50;
  animation: energyFloatUp 3s linear infinite;
  font-size: 20px;
  z-index: 50;
}

#containerForFishingInsightMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  border: 1px solid #8a2424;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 20;
}

#containerForNotification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  border: 1px solid #8a2424;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 20;
}

#containerForInitialText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #8a2424;
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
  z-index: 102;
}

#clickToStart {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  z-index: 101;
}

#containerForInitialBlackScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
}

#unknownEntityImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
  z-index: 101;
}

#containerForUnknownEntityDialog {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  border: 1px solid #8a2424;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 102;
}

#unknownEntityDialog {
  color: #ffffff;
  z-index: 102;
}

.mainScreenContainer {
  display: flex;
  text-align: center;
}

#currentBackgroundImage {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

#currentLocationButtonImage {
  /*transform: translate(-10%, -10%); Removed until I find a better method*/
  width: 300px;
  height: 350px;
  box-shadow: 0 4px 8px 0 #3188cc;
  border-radius: 8px;
  transition-duration: 0.3s;
  cursor: pointer;
  z-index: 1;
}

/* When I hover over a button, a box shadow color should change, and be a little rounder */
#currentLocationButtonImage:hover, #currentLocationButtonImage:active {
  box-shadow: 0 4px 8px 0 #979797;
  border-radius: 8px;
  transition-duration: 0.5s;
}

/* When clicked, I want the box shadow color to change again, more round, and get a little larger */
#currentLocationButtonImage:active {
  box-shadow: 0 4px 8px 0 #666666;
  border-radius: 20px;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#containerForLocation {
  display: flex;
  position: fixed;
  top: 100px;
  left: 300px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.activity {
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  margin: 5px;
}

#locationNameLabel {
  position: fixed;
  top: 58px;
  left: 300px;
  text-align: center;
  width: 750px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  font-weight: bold;
  color: #b57ae2;
  font-size: 35px;
}

#locationExploreContainer {
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  max-width: 320px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#locationExploreLabel {
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  color: #b57ae2;
  font-size: 20px;
}

#locationExploreInventoryLabel {
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  color: #b57ae2;
  font-size: 20px;
}

#locationExploreInventoryContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
}

.locationExploreInventorySlot {
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  margin: 4px;
}

.locationActionsLabel {
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  color: #b57ae2;
  font-size: 20px;
}

.locationActionsButtonContainer {
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  padding: 5px;
  margin: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.locationActionsButtonLabel {
  font-weight: bold;
  color: #b57ae2;
  text-align: center;
  margin-top: -6px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  font-size: 20px;
}

.locationActionsButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 4px;
  border: 1px solid var(--main-border-color);
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.locationActionsButtonCost {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  color: #b57ae2;
  font-size: 25px;
}

#locationInsightsNameLabel {
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  color: #b57ae2;
  font-size: 20px;
}

#locationInsightSlotOne {
  border: 1px solid var(--main-border-color);
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#locationInsightOneLabel {
  font-weight: bold;
  text-align: center;
  margin-top: -6px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  color: #b57ae2;
  font-size: 20px;
}

#locationInsightsButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  padding: 5px;
  margin: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.locationInsightButtonCost {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  color: #b57ae2;
  font-size: 25px;
}

#locationInsightSlotTwo {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#locationInsightSlotThree {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#locationInsightSlotFour {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#locationInformationSlotOne {
  position: fixed;
  top: 708px;
  left: 300px;
  max-width: 375px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#locationInformationSlotTwo {
  position: fixed;
  top: 708px;
  right: 318px;
  max-width: 375px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#adventureLog {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#notificationArea {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* This is the container for scene elements. */
#containerForSceneElements {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* This is the Menu Buttons container section */
#containerForMenuButtons {
  position: fixed;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  z-index: 30;
}

#playerInventoryMenuButton {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 30;
}

#locationMenuButton {
  cursor: pointer;
  border-radius: 5px;
  z-index: 30;
}

#bestiaryBookMenuButton {
  cursor: pointer;
  border-radius: 5px;
  z-index: 30;
}

#actionsMenuButton {
  cursor: pointer;
  border-radius: 5px;
  z-index: 30;
}

#insightsMenuButton {
  cursor: pointer;
  border-radius: 5px;
  z-index: 30;
}

#containerForEnergyIndicator {
  position: fixed;
  height: 25px;
  left: 3px;
  background-color: #323232;
  border-radius: 15px;
  margin-top: 5px;
  z-index: 5;
}

#energyBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 100%;
  background-color: #3c1e5a;
  border-radius: 15px;
  padding-right: 10px;
  z-index: 5;
}

.imageWrapper {
  display: flex;
  z-index: 5;
}

#energyImage {
  height: 50px;
  margin-left: -10px;
  z-index: 5;
}

.energyIndicatorText {
  font-weight: bold;
  white-space: nowrap;
  z-index: 5;
}

#showMaxEnergy {
  font-weight: bold;
  z-index: 5;
}

#containerForInventory {
  position: fixed;
  top: 34px;
  right: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.inventorySlot {
  position: relative;
  display: flex;
  width: 75px;
  height: 75px;
  align-items: center;
  margin-bottom: 2px;
}

.inventoryImage {
  border-radius: 8px;
}

.inventoryNumber {
  position: absolute;
  color: black;
  bottom: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 1px 4px;
}

.locationInventoryNumber {
  position: absolute;
  color: black;
  bottom: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 1px 4px;
}

#containerForLocationMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  top: 34px;
  left: 1118px;
  max-width: 165px;
  border-radius: 10px;
  padding: 5px;
}

.categoryName {
  font-weight: bold;
  font-size: 20px;
  margin-top: -5px;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#spawningPoolLocationButton {
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}

#swampTrailLocationButton {
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}

.containerForTooltipOne {
  display: none;
  position: fixed;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #323232;
  top: 150px;
  right: 15px;
  border-radius: 10px;
  padding: 4px;
}

.tooltipNameOne {
  position: fixed;
  top: 125px;
  width: 200px;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #9c69c3;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  margin: 3px;	
}

.containerForLocationDescriptionOne {
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  margin: 3px;
}

.categoryDescriptionLabelOne {
  font-weight: bold;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 5px;
  margin-top: 6px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);	
}

.tooltipDescriptionOne {
  width: 200px;
  background-color: #323232;
  color: #9c69c3;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  margin: 3px;
}

.containerForLocationBiomeOne {
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  margin: 3px;
}

.categoryBiomeLabelOne {
  font-weight: bold;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);	
}

.tooltipBiomeOne {
  width: 200px;
  height: 75px;
  background-color: #323232;
  color: #9c69c3;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  margin: 3px;
}

.containerForLocationSpeciesOne {
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  margin: 3px;
}

.categorySpeciesLabelOne {
  font-weight: bold;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);	
}

.tooltipSpeciesOne {
  width: 200px;
  height: 75px;
  background-color: #323232;
  color: #9c69c3;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  margin: 3px;
}

.containerForTooltipTwo {
  display: none;
  position: fixed;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #323232;
  top: 150px;
  right: 15px;
  border-radius: 10px;
  padding: 4px;
}

.tooltipNameTwo {
  position: fixed;
  top: 125px;
  width: 200px;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #9c69c3;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  margin: 3px;	
}

.containerForLocationDescriptionTwo {
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  margin: 3px;
}

.categoryDescriptionLabelTwo {
  font-weight: bold;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 5px;
  margin-top: 6px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);	
}

.tooltipDescriptionTwo {
  width: 200px;
  background-color: #323232;
  color: #9c69c3;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  margin: 3px;
}

.containerForLocationBiomeTwo {
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  margin: 3px;
}

.categoryBiomeLabelTwo {
  font-weight: bold;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);	
}

.tooltipBiomeTwo {
  width: 200px;
  height: 75px;
  background-color: #323232;
  color: #9c69c3;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  margin: 3px;
}

.containerForLocationSpeciesTwo {
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  margin: 3px;
}

.categorySpeciesLabelTwo {
  font-weight: bold;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);	
}

.tooltipSpeciesTwo {
  width: 200px;
  height: 75px;
  background-color: #323232;
  color: #9c69c3;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  margin: 3px;
}

#bestiaryContainer {
  position: fixed;
  transform: perspective(2000px) scale(0.75);
  top: 50px;
  left: 50px;
  min-width: 838px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  z-index: 1;
}

#leftPageContainer {
  width: 49%;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px; 
}

.bestiaryLeftPageMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #323232;
  border: 1px solid var(--main-border-color);
  margin-bottom: 10px;
}

#bestiaryCreatureTypeButton {
	padding: 5px;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);	
}

#bestiaryCreatureTypeContainer {
  text-align: center;
  background-color: #323232;
  border-radius: 10px;
  margin-bottom: 10px;
}

.bestiaryName {
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  color: #b57ae2;
  font-size: 24px;
  font-weight: bold;
}

.bestiaryImage {
  height: 100px;
  border-radius: 10px;
  padding: 1px;
}

.bestiaryDescriptionLabel {
  font-weight: bold;
  font-size: 20px;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

.bestiaryDescription {
  background-color: #323232;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.bestiaryNotesLabel {
  font-weight: bold;
  font-size: 20px;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	margin-top: 20px;
}

.bestiaryNotes {
  background-color: #323232;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.bestiaryStatisticsLabel {
  font-weight: bold;
  font-size: 20px;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.bestiaryStatistics {
  background-color: #323232;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

#rightPageContainer {
  width: 49%;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px; 
}

.bestiaryExpertiseLabel {
  font-weight: bold;
  font-size: 20px;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

/* Style for achievement containers */
.achievementContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.achievementImageContainer {
  position: relative;
  margin-right: 5px;
  border-radius: 8px;
  padding: 10px;
}

/* Tooltip style */
.achievementName:hover::before {
  content: attr(title);
  position: absolute;
  background-color: #262626;
  color: #9c69c3;
  padding: 5px;
  border-radius: 5px;
  z-index: 20;
}

/* This is the menu container for actions in the game */
#containerForActionsMenu {
  position: fixed;
  top: 50px;
  left: 50px;
  max-width: 838px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.action {
  border-radius: 10px;
  padding: 10px;
  margin: 3px;
  flex: 25%;
}

.feedEntityActionLabel {
  font-weight: bold;
  font-size: 20px;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.searchActionLabel {
  font-weight: bold;
  font-size: 20px;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* This is used to contain the image shown as a beast*/
.actionContainerImage {
  display: flex;
  justify-content: center;
  border: 1px solid var(--main-border-color);
  border-radius: 8px;
}

.actionContainerText {
	font-size: 16px;
  text-align: center;
}

#buySearchActionButton, #feedActionButton {
  cursor: pointer;
  padding: 4px 1px;
}

#containerForInsightsMenu {
  position: fixed;
  top: 34px;
  left: 914px;
  height: 210px;
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  z-index: 30;
}

.fishingInsightLabel {
  font-weight: bold;
  font-size: 20px;
  background-color: #262626;
  border: 1px solid var(--main-border-color);
  color: #b57ae2;
  text-align: center;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#containerForResourceIndicator {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#gameOver {
  font-size: 30px;
  color: #3188cc;
  font-style: italic;
}

/* Style for the resource cache. This should appear randomly on the screen */
.resourceCacheImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  padding: 1px;
  z-index: 51;
}

.resourceCacheMessage {
  position: absolute;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  z-index: 51;
}

/* This is used to hide various elements in the game */
.hidden {
  display: none;
}

/* This is used to hide the bestiary container and it's pages*/
#bestiaryContainer.hidden, .hidden #leftPageContainer, .hidden #rightPageContainer {
  display: none;
}

/* This is used to hide/show the Actions menu container */
#containerForActionsMenu.hidden {
  display: none;
}

/* This is used to hide/show the Insights menu container */
#containerForInsightsMenu.hidden {
  display: none;
}

/* This is used to hide/show the spawning pool location container */
#containerForSpawningPool.hidden {
  display: none;
}

/* This is used to hide/show the containerForLocationMenu */
#containerForLocationMenu.hidden {
  display: none;
}

